/*top menu*/
.top_menu
{
    height: 80px;
    background-color: #1178B6;
    padding: 23px 30px;
}
.brand_img
{
    background-image: url("/assets/imgs/navbar/brand_icon.png");
    background-size: cover;
    height: 80px;
    width: 80px;
    margin-top: -23px;
}
.brand_font
{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 30px;
    padding-left: 80px;
    line-height: 55px;
}

.my_btn
{
    border-color: white;
    color: white;
    background-color: #1178B6;
}
.my_btn:active, .my_btn:focus
{
    background-color: #1069A0;
    border-color: white;
    color: white;
    outline: none !important;
}
.my_btn:hover
{
    border-color: white;
    color: white;
    outline: none !important;
}
/*top menu user dropdown*/
.my_badge
{
    background-color: #1178B6;
    color: white;
    margin-left: 10px;
}
.my_fa
{
    margin-right: 10px;
}
.my_user_dropdown
{
    border: 1px solid #1178B6;
}
.my_user_dropdown li
{
    border-color: #1178B6;
}
.my_user_dropdown li a
{
    color: #1178B6;
}
.my_user_dropdown li a:hover
{
    color: #1069A0;
    background-color: white;
}
.my_divider
{
    border: 0.5px solid  #1178B6;
}
/*end user dropdown*/
.my_input
{
    background-color: #1178B6;
    border-color: white;
    color: white;

    -webkit-box-shadow: inset 0 1px 1px rgba(18, 105, 158, .075);
    box-shadow: inset 0 1px 1px rgba(18, 105, 158, .075);
}
.my_input:focus
{
    outline: none !important;
    box-shadow: none !important;
    background-color: #1069A0;
    border-color: white;
}

/*modal window*/
.my_modal_body
{
    border-radius: 6px;
}
.my_modal_style
{
    background-color: white;
    color: #1178B6;
    border-radius: 6px;
    border: 2px solid #1178B6;
}
.my_modal_header
{
    border-bottom: none;
}
.my_input_addon
{
    background-color: white;
    color: #1178B6;
    border-color: #1178B6;
}
.my_modal_input
{
    border-color: #1178B6;
}
.my_modal_btn
{
    border-color: #1178B6;
    color: #1178B6;
    background-color: white;
}
.my_modal_btn:focus, .my_modal_btn:active
{
    background-color: white;
    border-color: #1069A0;
    color: #1069A0;
    outline: none !important;
}
.my_modal_btn:hover
{
    border-color: #1069A0;
    color: #1069A0;
    outline: none !important;
}
.my_modal_footer
{
    border-top-color: #1178B6;
}

/*helper classes*/
.my_display_none
{
    display: none;
}
@media only screen and (max-width: 992px) {
    .brand_img
    {
        display: none;
    }
    .brand_font
    {
        display: none;
    }
}