:root
{
    --my-def-color-blue: #1178B6;
    --my-def-color-darkBlue: #1069A0;
}

body
{
    background-color: #eee;
}

/*top menu*/
.top_menu
{
    height: 80px;
    background-color: var( --my-def-color-blue);
    padding: 23px 30px;
}
.brand_img
{
    background-image: url("/assets/imgs/navbar/brand_icon.png");
    background-size: cover;
    height: 80px;
    width: 80px;
    margin-top: -23px;
}
.brand_font
{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 30px;
    padding-left: 80px;
    line-height: 55px;
}

.my_btn
{
    border-color: white;
    color: white;
    background-color: var( --my-def-color-blue);
}
.my_btn:active, .my_btn:focus
{
    background-color: var(--my-def-color-darkBlue);
    border-color: white;
    color: white;
    outline: none !important;
}
.my_btn:hover
{
    border-color: white;
    color: white;
    outline: none !important;
}
    /*top menu user dropdown*/
    .my_badge
    {
        background-color: var( --my-def-color-blue);
        color: white;
        margin-left: 10px;
    }
    .my_fa
    {
        margin-right: 10px;
    }
    .my_user_dropdown
    {
        border: 1px solid var( --my-def-color-blue);
    }
    .my_user_dropdown li
    {
        border-color: var( --my-def-color-blue);
    }
    .my_user_dropdown li a
    {
        color: var( --my-def-color-blue);
    }
    .my_user_dropdown li a:hover
    {
        color: var(--my-def-color-darkBlue);
        background-color: white;
    }
    .my_divider
    {
        border: 0.5px solid  var( --my-def-color-blue);
    }
    /*end user dropdown*/
.my_input
{
    background-color: var( --my-def-color-blue);
    border-color: white;
    color: white;

    -webkit-box-shadow: inset 0 1px 1px rgba(18, 105, 158, .075);
    box-shadow: inset 0 1px 1px rgba(18, 105, 158, .075);
}
.my_input:focus
{
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--my-def-color-darkBlue);
    border-color: white;
}
/*end top menu*/

/*modal window*/
.my_modal_body
{
    border-radius: 6px;
}
.my_modal_form a
{
    color: white;
}
.my_modal_style
{
    background-color: var( --my-def-color-blue);
    color: white;
    border-radius: 6px;
    border: 2px solid white;
}
.my_modal_header
{
    border-bottom: none;
}
.my_modal_input
{
    border-color: white;
}
.my_modal_btn:hover
{
    border-color: var(--my-def-color-darkBlue);
    color: var(--my-def-color-darkBlue);
    outline: none !important;
}
.my_modal_footer
{
    border-top: 1px solid white;
}

/*end modal window*/

/*home page*/
.my_filter_group
{
    margin-bottom: 15px;
}
.my_rev_btn
{
    border-color: var( --my-def-color-blue);
    color: var( --my-def-color-blue);
    background-color: white;
}
.my_rev_btn:active, .my_rev_btn:focus
{
    background-color: white;
    border-color: var(--my-def-color-darkBlue);
    color: var(--my-def-color-darkBlue);
    outline: none !important;
}
.my_rev_btn:hover
{
    border-color: var(--my-def-color-darkBlue);
    color: var(--my-def-color-darkBlue);
}

.my_home_container
{
    padding: 20px;
    height: 100vh;
}
.my_cat_row
{
    margin-top: 20px;
}

/*advert*/
.my_table td
{

    border: 1px solid #ddd;
}
.my_img_container
{
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.my_img_container img
{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.my_panel
{
    margin: 0 15px;
}
.my_panel_body
{
    height: 125px;
    padding: 0;
}
.my_advert_title
{
    color: black;
}
.my_advert_title:hover
{
    color: var(--my-def-color-darkBlue);
    text-decoration: none;
}
.my_price
{
    color: var(--my-def-color-blue);
    padding-right: 10px;
}
#commentSubmit
{
    margin-bottom: 80px;
}
/* end advert*/
/*end home page*/


/*registration page*/
.my_row_bg
{
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.20);
}
.my_center_container
{
    padding: 150px 10px;

}
.my_center_container h3
{
    margin-bottom: 50px;
}
/*end registration page*/

/*footer*/
.my_footer_container
{
    height: 150px;
    color: white;
    padding: 75px;
    background-color: var( --my-def-color-blue);
}
/*end footer*/
/*advert page*/
.carousel-inner > .item > img {
    margin: 0 auto;
}

.my_advert_panel
{
    margin-top: 15px;
}
.my_advert_panel button
{
    margin-top: 15px;
}
.my_carousel
{
    margin-top: 15px;
}
.my_comment_form button
{
    margin-top: 15px;
    margin-bottom: 40px;
}

/*end advert page*/

/*create page*/
.my_create_col
{
    padding: 80px 40px;
    height: 100vh;
}
.my_create_col form
{
    margin-top: 50px;
}
/*end create page*/

/*helper classes*/
.my_display_none
{
    display: none;
}
/*end helper classes*/




@media only screen and (max-width: 992px) {
    .brand_img
    {
        display: none;
    }
    .brand_font
    {
        display: none;
    }
    .my_advert_title h4
    {
        font-size: 16px;
    }
    .my_price
    {
        font-size: 16px;
    }

}
